header
{font-size: 12pt;
font-family: "arial";
color: #159540;
text-align: center}

body
{text-align: justify;
text-indent: 1cm;
font-size: 14pt;
font-family: 'Comfortaa', cursive;
background: #FFFFAA
}

.colortext
{color: #3131B1}

.footertext
{text-align: center;
font-family: tahoma;
font-size: 8pt}